/* Global styles go here */

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background: #fff;
    transition: background 1s ease, color 1s ease;
    min-height: 100vh;
}

.component {
    width: 100%;
    height: 150px;
    transition: border 1s ease;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    border-top: none;
    position: relative;
}

.component label {
    position: absolute;
    top: 10px;
    left: 20px;
    color: salmon;
}